/* Set maximum width, center content, and arrange in a column */
.main-container {
    max-width: 1400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* Adjust container width, center content, and arrange in a column */
.main-container .container {
    width: 90%;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

/* Style for the banner section */
.main-container .container .banner {
    justify-content: center;
    display: flex;
    margin: 20px 0 0 0;
}

/* Style for images within the banner */
.main-container .container .banner img {
    width: auto;
    max-width: 100%;
    height: auto; 
    display: block;
    margin: 0 auto;
}

/* Style for the category section */
.main-container .container .category-sec {
    margin: 10px 0 0 0;  
}

/* Style for the heading in the category section */
.main-container .container .category-sec h1 {
    color: rgba(0, 0, 0, 0.749);
    font-family: 'Poppins', sans-serif;
}

/* Style for the item section */
.main-container .container .item-section {
    min-width: 40%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 10px 20px 0 0;
}

/* Style for individual item boxes */
.main-container .container .item-section .item-box {
    font-family: 'Poppins', sans-serif;
    background-color: white;
    width: 200px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #0000003b;
    margin: 40px 10px 40px 60px;
}

/* Style for images within item boxes */
.main-container .container .item-section .item-box img {
    width: 200px;
    max-width: 100%;
    height: auto; 
    display: block;
    margin: 0 auto; 
}

/* Style for anchor tags within item boxes */
.main-container .container .item-section .item-box a {
    padding: 10px 20px;
    margin: 20px 0px;
    border: none;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    background-color: #000000;
    color: white;
    font-weight: normal;
}

/* Media query for smaller screens */
@media screen and (max-width:700px) {
    /* Adjust category section heading font size */
    .main-container .container .category-sec h1 {
        font-size: 100%;
    }
}
